@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  background-color: #F2F2F2;
  margin: 0;
  padding: 0;
  height: 100%;
}

.visually-hidden {
  display: none;
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-container {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  min-height: 100%;
}

.page-header {
  color: #000000;
  background-color: #ffffff;
}

.header-navigation {
  display: flex;
  align-items: center;
  height: 64px;
}

.header-navigation-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 339px;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.header-navigation-link {
  display: block;
  padding: 20px 16px;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #000000;
  background-color: #ffffff;
  text-decoration: none;
}

.header-navigation-link:hover,
.header-navigation-link:focus,
.header-navigation-link:active {
  color: #756157;
}

.brown-button:hover,
.brown-button:focus {
  background-color: #615048;
}

.brown-button:focus {
  outline: none;
}

.brown-button:active {
  background-color: #756157;
  opacity: 30%;
}

.blue-button {
  font-weight: 700;
  font-family: inherit;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  border: none;
  cursor: pointer;
  color: #ffffff;
  background-color: #82B3D3;
}

.blue-button:hover,
.blue-button:focus {
  background-color: #68A2CA;
}

.blue-button:focus {
  outline: none;
}

.blue-button:active {
  background-color: #68A2CA;
  opacity: 30%;
}

.header-navigation-link:active {
  opacity: 30%;
}

.header-navigation-list,
.header-navigation-item,
.header-navigation-user {
  position: relative;
}


.header-navigation-user {
  display: flex;
  align-items: center;
  width: 268px;
  padding: 0;
  margin: 0;
  list-style-type: none;
  margin-left: auto;
  margin-right: 70px;
  text-transform: uppercase;
}

.header-navigation-user-link {
  display: block;
  padding-top: 8px;
  padding-bottom: 8px;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  background-color: #ffffff;
  text-decoration: none;

}

.header-navigation-user-link,
.header-navigation-link {
  min-width: 18px;
  min-height: 24px;
}

.header-navigation-user-link:active {
  opacity: 30%;
}

.header-icon {
  padding-top: 20px;
  padding-bottom: 20px;
  margin-right: 25px;
}

.icon-search {
  display: block;
  background-image: url(../image/icon-search.svg);
  background-size: contain;
  width: 20px;
  height: 20px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.icon-search:hover,
.icon-favourites:hover,
.icon-search:focus,
.icon-favourites:focus {
  color: #756157;
  opacity: 30%;
}

.icon-favourites {
  display: block;
  background-image: url(../image/icon-heart.svg);
  background-size: contain;
  width: 20px;
  height: 20px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.favourites-number {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10px;
  line-height: 10px;
  color: #ffffff;
  width: 20px;
  height: 20px;
  background-color: #7DB54F;
  border-radius: 50%;
  left: 9px;
  top: 11px;
}

.header-navigation-button {
  min-width: 160px;
  font-size: 16px;
  line-height: 20px;
}

.logo {
  margin-left: 70px;
  margin-right: 28px;
  z-index: 1;
}

.logo:hover {
  opacity: 30%;
  cursor: pointer;
}

.main-container {
  flex-grow: 1;

}

.main-index {
  color: #000000;
  background-color: #ffffff;
  background-image: url(../image/index-background.jpg);
  background-size: 100% auto;
  background-repeat: no-repeat;
  padding-top: 51px;
}

.hero {
  height: 485px;
}

.welcome-text {
  width: 458px;
  height: 352px;
  margin-left: 371px;
  margin-right: 371px;
  padding-bottom: 82px;
}

.hero-divider {
  position: relative;
  bottom: 61px;
  width: 1200px;
  height: 57px;
}

.container {
  box-sizing: border-box;
  text-align: center;
  height: 261px;
  margin: 0 auto;
}

.container-title {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  background-color: #ffffff;
  padding: 69px 290px 25px 290px;
  margin: 0 auto;
  text-transform: uppercase;
}

.container-text {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #000000;
  background-color: #ffffff;
  margin: 0 auto;
  padding-bottom: 69px;
}



.advantages {
  text-align: center;
}

.advantages-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.advantages-item-wide {
  display: flex;
}

.advantages-item-wide-reverse {
  flex-direction: row-reverse;
}

.advantages-wrapper {
  width: 230px;
  min-height: 200px;
  padding: 90px 85px;
  position: relative;
}

.advantages-title {
  margin-top: 0;
  margin-bottom: 30px;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.advantages-title::after {
  content: "";
  display: block;
  margin: 0 auto;
  margin-top: 30px;
  width: 60px;
  height: 2px;
  background-color: #ffffff;
  opacity: 30%;
}

.advantages-item:nth-child(2) .advantages-title::after,
.advantages-item:nth-child(4) .advantages-title::after,
.advantages-item:nth-child(3) .advantages-title::after {
  background-color: rgba(0, 0, 0, 0.3);
}

.advantages-image {
  height: 100%;
}


.advantages-description {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  margin: 0;
}


.advantages-item:nth-child(1),
.advantages-item:nth-child(5) {
  background-color: #82B3D3;
  color: #ffffff;
}

.advantages-item:nth-child(2),
.advantages-item:nth-child(4) {
  background-color: #f0f6fa;
  color: #000000;
}

.advantages-item:nth-child(3) {
  background-color: #e6f0f6;
}

.features {
  text-align: center;
}

.features-tagline {
  box-sizing: border-box;
  text-align: center;
  height: 246px;
}

.tagline-title {
  margin: 0;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  background-color: #ffffff;
  text-transform: uppercase;
  padding: 64px 347px 20px 347px
}

.tagline-description {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #000000;
  background-color: #ffffff;
  margin: 0 auto;
  padding-bottom: 64px;
}

.features-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.features-items {
  width: 400px;
  min-height: 385px;
}

.features-items:nth-child(odd) {
  background-color: #f0f6fa;
}

.features-wrapper {
  width: 230px;
  min-height: 223px;
  padding: 81px 85px;
}

.features-image-container {
  display: inline-block;
  background-repeat: no-repeat;
  width: 75px;
  height: 75px;
  margin-bottom: 30px;
}

.features-image-home {
  background-image: url(../image/advantages-hotel-icon.svg);
}

.features-image-food {
  background-image: url(../image/advantages-food-icon.svg);
}

.features-image-souvenir {
  background-image: url(../image/advantages-souvenir-icon.svg);
}

.features-title {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  margin: 0;
  padding-bottom: 30px;
}

.features-description {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  margin: 0;
}

.search-wrapper {
  margin: 0;
  text-align: center;

}

.hotel-search {
  padding-top: 96px;
  padding-bottom: 104px;
}

.hotel-search-title {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  background-color: #ffffff;
  margin: 0;
  text-transform: uppercase;
  padding-bottom: 20px;
}

.hotel-search-text {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #000000;
  background-color: #ffffff;
  padding-bottom: 54px;
  margin: 0 auto;
}

.hotel-search-link {
  display: inline-block;
}

.hotel-search-button {
  min-width: 276px;
  font-size: 20px;
  line-height: 36px;
  padding: 8px 50px;
}

.brown-button {
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #756157;
  text-align: center;
  border: none;
  border-radius: 4px;
}

.subscribe {
  text-align: center;

}

.subscribe-container {
  width: 1200px;
  height: 414px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #82B3D3;
  background-image: url(../image/signup-image.jpg);
  background-repeat: no-repeat;
  background-size: cover;

}

.subscribe-wrapper {
  width: 452px;
  min-height: 200px;
  padding-top: 90px;
  padding-bottom: 90px;
}

.subscribe-text-wrapper,
.subscribe-inner-text-wrapper {
  padding-top: 96px;
}


.subscribe-title {
  margin: 0;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  padding-bottom: 20px;
}

.subscribe-text {
  margin: 0;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #ffffff;
  width: 475px;
  padding-bottom: 54px;
}

.subscribe-form {
  display: flex;
  align-items: center;
  padding-bottom: 104px;
}

.form-container {
  width: 452px;
  height: 52px;
  margin: 0;
  padding: 0;
  border: none;
  padding-left: 20px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.subscribe-form-button {
  font-size: 20px;
  line-height: 36px;
  padding: 8px 50px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;

}

.subscribe-inner-container {
  width: 1200px;
  height: 414px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form-inner-color {
  background-color: #F2F2F2;
}

.page-footer-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1200px;
  height: 120px;
  margin: 0 auto;
}

.navigation-social {
  padding-left: 70px;
  width: 142px;
}

.navigation-social-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.navigation-social-item {
  width: 47px;
  height: 40px;
}

.social-link {
  display: block;
  height: 40px;
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-position: center;
}

.social-link:hover,
.social-link:focus {
  fill: #68A2CA;
}

.social-link:active {
  opacity: 30%;
}

.social-link-vk {
  background-image: url(../image/social-vk.svg);
}

.social-link-tg {
  background-image: url(../image/social-telegram.svg);
}

.social-link-yt {
  background-image: url(../image/social-youtube.svg);
}

.phone {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-decoration: none;
  color: #000000;
  background-color: #ffffff;
  outline: none;
}

.phone:hover,
.phone:focus {
  color: #756157;
}

.phone:active,
.footer-logo-link:active {
  opacity: 30%;
}

.footer-logo {
  padding-right: 70px;
}

.footer-logo-link:hover,
.footer-logo-link:focus {
  fill: #756157;
}

.phone:active,
.footer-logo-link:active {
  opacity: 30%;
}

.main-inner {
  background-color: #ffffff;
  margin: 0;
}

.inner-header-wrapper {
  height: 100%;
  background-color: #82B3D3;
  background-image: url(../image/catalog-background.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 35px 70px 70px 70px;
  margin-bottom: 57px;

}

.inner-header-title {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  color: #ffffff;
  margin: 0;
  padding-top: 35px;

}

.breadcrumbs {
  display: flex;
  padding: 0;
  margin: 0;
  padding-bottom: 40px;
  list-style-type: none;
}

.breadcrumbs-item:first-child {
  display: flex;
  align-items: center;
}

.breadcrumbs-home-link {
  width: 12px;
  height: 12px;
  background-image: url(../image/breadcrumbs-home-icon.svg);
  background-repeat: no-repeat;
  background-size: cover;
  margin-right: 10px;
}

.breadcrumbs-item:first-child::after {
  display: block;
  width: 8px;
  height: 20px;
  content: url(../image/breadcrumbs-arrow-icon.svg);
  margin-right: 10px;
}

.breadcrumbs-item-list {
  display: block;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
  text-decoration: none;
  color: #ffffff;
  background-color: transparent;
}

.breadcrumbs-home-link:hover,
.breadcrumbs-item-list:hover {
  opacity: 60%;
}

.breadcrumbs-home-link:focus,
.breadcrumbs-item-list:focus {
  opacity: none;
}

.breadcrumbs-home-link:active,
.breadcrumbs-item-list:active {
  opacity: 30%;
}



.hotel-catalog-wrapper {
  display: flex;
}

.hotel-catalog-filter {
  display: flex;
  justify-content: center;
  color: #ffffff;
  box-sizing: border-box;

}

.hotel-filter-group {
  width: 150px;
  margin: 0;
  padding: 0;
  border: none;
}

.hotel-filter-group:first-child {
  margin-right: 70px;
}

.hotel-filter-group:nth-child(2) {
  margin-right: 140px;
}

.filter-price {
  display: flex;
  width: 288px;
  margin: 0;
  padding: 0;
  margin-right: 70px;
  border: none;
}

.form-button {
  display: flex;
  flex-direction: column;
  align-items: end;
}

.form-button-blue {
  margin: 0;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  padding: 8px 50px;
  color: #ffffff;
  background-color: #82B3D3;
  border: none;
  border-radius: 4px;
  text-transform: uppercase;
  margin-top: 56px;
  margin-bottom: 32px;

}

.form-button-transparent {
  margin: 0;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  padding: 8px 58px;
  color: #ffffff;
  background-color: transparent;
  border: none;
  border-radius: 4px;
  text-transform: uppercase;
  cursor: pointer;

}

.hotel-filter-group-title {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
  background-color: transparent;
  margin: 0;
  padding-bottom: 32px;
}

.filter-list {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: #ffffff;
  background-color: transparent;
  list-style-type: none;
  margin: 0;
  padding: 0;

}

.filter-price-title {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
  background-color: transparent;
  padding: 0;
  padding-bottom: 32px;
}

.filter-price-input {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  background-color: #ffffff;
  text-align: left;
}

.button-view {
  display: block;
  width: 16px;
  height: 14px;
  padding: 17px;
  background-repeat: no-repeat;
  border-radius: 4px;
  border: 2px solid #E5E5E5;
  margin-right: 8px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.button-view:hover {
  border-color: #000000;
}

.button-view:focus {
}

.button-view:active {
  border-color: #000000;
}

.button-view:first-of-type {
  background-image: url(../image/view-icon-tile.svg);
  margin-left: auto;
}

.button-view:nth-of-type(2) {
  background-image: url(../image/view-icon-slideshow.svg);
}

.button-view:last-of-type {
  background-image: url(../image/view-icon-list.svg);
}

.button-view-end {
  margin: 0;
}

.hotels-found {
  width: 1060px;
  margin: 0 auto;
}

.hotels-found-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

.select-control-wrapper {
  display: block;
  width: 292px;
  margin-right: 70px;
  min-height: 21px;
}

.select-control {
  width: 100%;
  font-family: inherit;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  appearance: none;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
  padding: 12px 20px;
  background-image: url("../image/arrow-down-icon.svg");
  background-repeat: no-repeat;
  background-position: right 20px center;
  padding-right: 40px;

}

.select-control:hover {
  border-color: #68A2CA;
}

.select-control:focus {
  border-color: #3F5E72;
}

.select-control:focus {
  border-color: #3F5E72;
}

.hotel-list {
  display: grid;
  grid-template-columns: repeat(3, 340px);
  gap: 20px;
  margin: 0;
  padding: 0;
  list-style-type: none;
  margin-bottom: 40px;
}


.hotel-card {
  display: grid;
  grid-template-columns: repeat(2, 140px);
  gap: 16px 20px;
  border: #E6E6E6 solid 1px;
  border-radius: 4px;
  padding: 20px;

}

.hotel-card-link {
  grid-column: 1 / -1;
  text-decoration: none;
  transition: 0.4s;
}

.hotel-card-link:hover,
.hotel-card-link:focus,
.hotel-card-link:active {
  scale: 1.05;
}

.hotels-found-title {
  display: block;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  background-color: #ffffff;
  margin: 0;
  margin-right: 180px;
  text-transform: uppercase;
}

.hotel-card-title {
  margin: 0;
  padding-top: 16px;
  padding-bottom: 16px;

}

.hotel-card-image {
  display: block;
  margin: 0 auto;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  background-color: #ffffff;
}

.hotel-card-button {
  display: block;
  text-decoration: none;
  width: 88px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  padding: 8px 24px;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #756157;
  text-align: center;
  border: none;
  padding: 8px 26px;
  border-radius: 4px;

}

.card-button {
  display: block;
  padding: 8px 20px;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  width: 141px;
  border: none;
  border-radius: 4px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #82B3D3;
}

.green-button {
  padding: 8px 18px;
  color: #ffffff;
  background-color: #7DB54F;
  cursor: pointer;
}

.green-button:hover,
.green-button:focus {
  background-color: #6C9E42;
  outline: none;
}

.green-button:active {
  background-color: #7DB54F;
  opacity: 30%;
}

.hotel-price {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  text-align: right;
  color: #000000;
  background-color: #ffffff;
}

.pagination-container {
  display: flex;
  padding-left: 70px;
  padding-bottom: 60px;
  background-color: #FFFFFF;
}

.pagination {
  position: relative;
  align-items: center;
  display: flex;
  gap: 8px;
  padding: 0;
  list-style-type: none;
  padding-top: 40px;
  margin: 0;
}

.pagination::before {
  position: absolute;
  content: "";
  height: 1px;
  width: 1060px;
  left: 0;
  top: 0;
  background-color: #E6E6E6;
}

.pagination-link {
  display: flex;
  justify-content: center;
  text-decoration: none;
  color: #ffffff;
  max-width: 60px;
  box-sizing: border-box;
  text-align: center;
  padding: 16px 24px;
  background-color: #82B3D3;
  border-radius: 4px;
  text-decoration: none;
}

.pagination-item {
  text-align: center;
  display: inline-block;
}

.pagination-link-end {
  margin: 0;
}

.pagination-current {
  background-color: #F2F2F2;
  color: #000000;
}

.pagination-link:active {
  background-color: #82B3D3;
  color: rgba(255, 255, 255, 0.3);
}

.pagination-current:hover,
.pagination-current:focus,
.pagination-current:active {
  background-color: #F2F2F2;
}

.subscribe-inner {
  text-align: center;
}

.subscribe-inner-title {
  margin: 0;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  background-color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  padding-bottom: 20px;
}

.subscribe-inner-text {
  margin: 0;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #000000;
  background-color: #ffffff;
  width: 475px;
  padding-bottom: 54px;
}

.rating-total {
  margin-left: auto;
  display: inline-block;
  font-size: 16px;
  line-height: 20px;
  color: #333333;
  text-transform: uppercase;
  padding: 8px 22px;
  background-color: #F2F2F2;
  border-radius: 4px;
}


.rating-stars {
  display: inline-block;
  background: url(../image/star-icon.svg);
  height: 17px;
  margin-top: 10px;
}

.two-stars {
  width: 36px;
}

.three-stars {
  width: 54px;
}

.four-stars {
  width: 72px;
}


.hero-divider {
  width: 1200px;
  height: 57px;
}
